body{
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.container{
    width: 50%;
    margin: auto;

}
.container .titulo{
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 12px;
    padding: 3%;
}
.container .titulo h2{
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    color: white;
}
.container .titulo .score{
    padding: 3%;
    background: white;
    border-radius: 12px;
}.container .titulo .score h2{
    color: hsl(229, 25%, 31%);
}
.container .titulo .score h4{
    margin: 0;
    text-align: center;
    color: hsl(229, 25%, 31%);
}

.container .jogo{
    height: 35vh;
    margin-top: 15%;
    position: relative;
    background-image: url('images/bg-triangle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container .jogo .opcao{
    position: absolute;
    padding: 3%;
    background: white;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.container .jogo .pedra{
    border: 13px solid hsl(349, 70%, 56%);
    top: -25%;
    left: 25%;
}
.container .jogo .papel{
    border: 13px solid hsl(230, 89%, 65%);
    top: -25%;
    right: 25%;
}
.container .jogo .tesoura{
    border: 13px solid  hsl(40, 84%, 53%);
    bottom: -20%;
    right: 39%;
}